# Local .terraform directories
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate*.backup

# Crash log files
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Override files (often used for local testing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files (may contain sensitive values)
*.tfvars
!default.tfvars

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Operating System specific files (e.g., macOS)
.DS_Store

# Vim swap files
*.swp
