apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k10-sa-key
  namespace: kasten-io
spec:
  secretStoreRef:
    name: cloud-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: k10secret-${creator}-${workspace}-azurekv
    creationPolicy: Owner
  data:
  - secretKey: azure_storage_account_id
    remoteRef:
      key: azure-storage-account-id
  - secretKey: azure_storage_environment
    remoteRef:
      key: azure-storage-environment
  - secretKey: azure_storage_key
    remoteRef:
      key: azure-storage-key
