apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k10-dr-${creator}-${workspace}-es
  namespace: kasten-io
spec:
  secretStoreRef:
    name: cloud-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: k10-dr-secret
    creationPolicy: Owner
  data:
  - secretKey: azure-key-vault-url
    remoteRef:
      key: kasten-dr-url
  - secretKey: key
    remoteRef:
      key: kasten-dr-key
  - secretKey: source
    remoteRef:
      key: kasten-dr-source
