apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  name: pacman
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: pacman
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://michaelhaigh.github.io/pacman/
      targetRevision: ${pacman_version}
      chart: pacman
      helm:
        releaseName: pacman
        valuesObject:
          service:
            type: ${cert_manager_deployment ? "ClusterIP" : "LoadBalancer"}
    - repoURL: ${thisRepoURL}
      targetRevision: ${targetRevision}
      path: azure/argocd/addons/pacman
  ignoreDifferences:
    - group: ""
      kind: Secret
      name: pacman-mongodb
      namespace: pacman
      jsonPointers:
        - /data
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      jqPathExpressions:
        - .spec.parentRefs[].group
        - .spec.parentRefs[].kind
        - .spec.rules[].backendRefs[].group
        - .spec.rules[].backendRefs[].kind
        - .spec.rules[].backendRefs[].weight
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
