apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  name: external-secrets
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: external-secrets
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://charts.external-secrets.io
      targetRevision: ${eso_version}
      chart: external-secrets
      helm:
        releaseName: external-secrets
    - repoURL: ${thisRepoURL}
      targetRevision: ${targetRevision}
      path: gcp/argocd/addons/external-secrets
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
