apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
  name: kasten-io
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kasten-io
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://charts.kasten.io/
      targetRevision: ${kasten_version}
      chart: k10
      helm:
        releaseName: k10
        valuesObject:
          auth:
            secureCookies: ${cert_manager_deployment ? "true" : "false"}
            tokenAuth:
              enabled: true
          eula:
            accept: ${kasten_eula_accept}
            company: ${email_domain}
            email: ${email}
          excludedApps:
            - gke-managed-cim
            - gke-managed-system
            - gke-managed-volumepopulator
            - gmp-public
            - gmp-system
            - kube-node-lease
            - kube-public
            - kube-system
          externalGateway:
            create: ${cert_manager_deployment ? "false" : "true"}
    - repoURL: ${thisRepoURL}
      targetRevision: ${targetRevision}
      path: gcp/argocd/addons/kasten-io
  ignoreDifferences:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      jqPathExpressions:
        - .spec.parentRefs[].group
        - .spec.parentRefs[].kind
        - .spec.rules[].backendRefs[].group
        - .spec.rules[].backendRefs[].kind
        - .spec.rules[].backendRefs[].weight
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
