apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: cloud-cluster-secret-store
spec:
  provider:
    gcpsm:
      auth:
        secretRef:
          secretAccessKeySecretRef:
            name: external-secrets-operator-secret
            key: secret-access-credentials
            namespace: kube-system
      projectID: ${gcp_project}
