apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k10-aws-credential-es
  namespace: kasten-io
spec:
  secretStoreRef:
    name: cloud-cluster-secret-store
    kind: ClusterSecretStore
  target:
    name: k10-aws-credential
    creationPolicy: Owner
    template:
      type: secrets.kanister.io/aws
  data:
  - secretKey: aws_access_key_id
    remoteRef:
      key: ${access_key_id_secret}
  - secretKey: aws_secret_access_key
    remoteRef:
      key: ${secret_access_key_secret}
